*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
    color: white;
    box-sizing: border-box;
}
#hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.container{
    padding: 40px 200px;
    position: relative;
}
.container h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 78px;
}
.container h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f0;
}
.container h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    { 
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
.hlo{
    display:flex;
}
.first{
    margin-left: 640px;
   
}
nav ul li{
    padding: 0px 10px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 28px;
    color: white;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:#03a9f0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a::before{
    content: '';
    width: 0%;
    height: 3px;
    background: #03a9f0;
    position: absolute;
    right: 0;
    bottom: +27px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover::before{
    width: 100%;
}
nav ul li span{
    transition: 1s;
}
nav ul li :hover span {
    margin-right: 10px;
}
.header-text{
    margin-top:120px;
    font-size: 30px;
}
.header-text p{
    margin-left: 20px;
   color: aliceblue;
}
.header-text h1{
    font-size: 60px;
    margin: 20px;
    color: white;
}
.header-text h1 span{
    color: #03a9f0;
}


/* ---------about------- */

#about{
    padding: 80px 0;
    color: black;
}
.row{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.about-col-left{
    flex-basis: 35%;
}
.about-col-left img{
    width: 100%;
    border-radius: 15px;
    margin-left: -35px;
}
.about-col-right{ 
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:white;
    margin-left: 100px;
}
div p{
    margin-left: 10px;
    color: white;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links{
    margin-right: 215px;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #03a9f0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    margin-left: 0px;
    color: white;
}
.tab-contents ul li span{
    color: #03a9f0;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding: 30px 0;
}

.series-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.series-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300px;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}
.series-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.series-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.series-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 12px;
    display: inline-block;
}
.series-list div:hover{
    background: #03a9f0;
    transform: translateY(-10px);
}


/* -------- */

#services{
    padding: 30px 0;
}

.series-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.series-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300px;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}
.series-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.series-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.series-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 12px;
    display: inline-block;
}
.series-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* -------work----- */

#portfolio{
    padding: 50px 0;
}
h1{
    font-weight: 500;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20%;
}
.layer a{
    margin-top: 20px;
    color: #03a9f0;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    
}
.layer p{
    margin-left: 0;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #03a9f0;

}

/* -------contact-------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left h1{
    margin-left: 0px;
}

.contact-left p{
    margin-top: 30px;
    margin-left: 0px;
}
.contact-left p i{
    color:  #03a9f0;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon a{
    text-decoration:none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    margin-top: 30px;
    
}

.social-icon a.newsocial1:hover{
    color:#0077b5;
    transform: translateY(-5px);
}
.social-icon a.newsocial2:hover{
    color:#03a9f0;
    transform: translateY(-5px);
}
.social-icon a.newsocial3:hover{
    color:#0077b5;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #03a9f0;
}
.contact-right form{
    width: 100%;

}
form input,form textarea{
    width: 100%;
    border: 0%;
    outline: none;
    background: #262626;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300px;
    margin-top: 20px;

}
.copyright i{
    color: #03a9f0;
}